@import "~bootstrap/scss/bootstrap.scss";

html{
    box-sizing: border-box;
}

.bg-secondary{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/guitar.png), url(../img/vowel.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
}

.header{
    height: 20vh;;
}

.container {
    width: 800px;
    height: 74vh;
    overflow-y: scroll;
}

.footer{
    height: 6vh;
}